/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/scss/bootstrap";
 .base-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }

  // 共通部分
  body {
    padding-top: 56px;
  }

  // ヘッダー
  .nav-item{
    font-size: small;
  }
  

