<a class="btn btn-secondary btn-block" data-remote="true" rel="nofollow" data-method="post" href="aws_texts/aws_text_read_texts_path(aws_text)">読破済みにする</a>

<%# <%= link_to "読破済みにする", aws_text_read_texts_path(aws_text), method: :post, remote: true %> 