<a class="btn btn-secondary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/aws_texts/1/read_texts">読破ずみを解除する</a>
<%# <%= link_to "読破ずみを解除する", aws_text_read_texts_path(aws_text), method: :delete, remote: true %>