<h2><%= markdown(@aws_text.title) %></h2>
<p>
  <%= markdown(@aws_text.content) %>
  <p>
    <% if @aws_text.read_text_by?(current_user) %>
      <%# 「いいね！」済み %>
      ★
    <% else %>
      <%# 「いいね」していない %>
      ☆
    <% end %>
  </p>
</p>


